In [1]:
import numpy as np
import pandas as pd

In [2]:
data_1 = pd.read_csv('data_1.csv')
data_2 = pd.read_csv('data_2.csv')
data_3 = pd.read_csv('data_3.csv')

In [3]:
merged_data = data_1.append(data_2.append(data_3, ignore_index=True), ignore_index=True)

merged_data

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
6424,Vanessa Roth,Mary J. Blige,Taraji P. Henson,Alicia Keys,Documentary Music,Mary J. Blige's My Life,Mary J. Blige Taraji P. Henson Alicia Keys Van...
6425,Drew Xanthopoulos,Michelle Fournet,Ellen Garland,NaN,Documentary,Fathom,NaN
6426,Michelle Johnston,Bailee Madison,Michael Evans Behling,April Telek,Comedy Romance,A Cinderella Story: Starstruck,Bailee Madison Michael Evans Behling April Tel...
6427,Matt Thompson,Channing Tatum,Jason Mantzoukas,Olivia Munn,Animation Action Comedy History Fantasy,America: The Motion Picture,Channing Tatum Jason Mantzoukas Olivia Munn Ma...
6428,Janicza Bravo,Taylour Paige,Riley Keough,Nicholas Braun,Drama Comedy Crime,Zola,Taylour Paige Riley Keough Nicholas Braun Jani...

In [4]:
merged_data.isnull().sum()

director_name     1
actor_1_name      1
actor_2_name     15
actor_3_name     77
genres            6
movie_title       1
comb             82
dtype: int64

In [5]:
merged_data = merged_data.dropna()

merged_data.isnull().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [6]:
merged_data['movie_title'][4]

'star wars: episode vii - the force awakens'

In [7]:
merged_data['movie_title'] = merged_data['movie_title'].apply(lambda x : x.rstrip())

In [10]:
merged_data.shape

(6347, 7)

In [12]:
merged_data = merged_data.drop_duplicates(subset="movie_title")

In [13]:
merged_data.shape

(6207, 7)

In [14]:
merged_data.to_csv('dataset.csv', index=False)