In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"
df1 = pd.read_html(url, header=0)[2]
df2 = pd.read_html(url, header=0)[3]
df3 = pd.read_html(url, header=0)[4]
df4 = pd.read_html(url, header=0)[5]

In [3]:
url2 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"
df5 = pd.read_html(url2, header=0)[2]
df6 = pd.read_html(url2, header=0)[3]
df7 = pd.read_html(url2, header=0)[4]
df8 = pd.read_html(url2, header=0)[5]

In [4]:
url3 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"
df9 = pd.read_html(url3, header=0)[3]
df10 = pd.read_html(url3, header=0)[4]
df11 = pd.read_html(url3, header=0)[5]
df12 = pd.read_html(url3, header=0)[6]

In [5]:
url4 = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2021'
df13 = pd.read_html(url4, header=0)[3]
df14 = pd.read_html(url4, header=0)[4]

In [6]:
df_2018 = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

df_2019 = df5.append(df6.append(df7.append(df8,ignore_index=True),ignore_index=True),ignore_index=True)

df_2020 = df9.append(df10.append(df11.append(df12,ignore_index=True),ignore_index=True),ignore_index=True)

df_2021 = df13.append(df14,ignore_index=True)

In [7]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '746897e36a21712ed25a5829904b339b'

In [8]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        return genre_str.join(genres)
    else:
        np.NaN

In [9]:
df_2018['genres'] = df_2018['Title'].map(lambda x: get_genre(str(x)))

In [10]:
df_2019['genres'] = df_2019['Title'].map(lambda x: get_genre(str(x)))

In [11]:
df_2020['genres'] = df_2020['Title'].map(lambda x: get_genre(str(x)))

In [12]:
df_2020['genres'] = df_2020['Title'].map(lambda x: get_genre(str(x)))

In [13]:
df_2018_new = df_2018[['Title','Cast and crew','genres']]
df_2019_new = df_2019[['Title','Cast and crew','genres']]
df_2020_new = df_2020[['Title','Cast and crew','genres']]
df_2021_new = df_2021[['Title','Cast and crew','genres']]

In [20]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

def get_actor_1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])


def get_actor_2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

def get_actor_3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [61]:
df_2018_new['director_name'] = df_2018_new['Cast and crew'].map(lambda x: get_director(str(x)))
df_2018_new['actor_1_name'] = df_2018_new['Cast and crew'].map(lambda x: get_actor_1(str(x)))
df_2018_new['actor_2_name'] = df_2018_new['Cast and crew'].map(lambda x: get_actor_2(str(x)))
df_2018_new['actor_3_name'] = df_2018_new['Cast and crew'].map(lambda x: get_actor_3(str(x)))

In [63]:
df_2019_new['director_name'] = df_2019_new['Cast and crew'].map(lambda x: get_director(str(x)))
df_2019_new['actor_1_name'] = df_2019_new['Cast and crew'].map(lambda x: get_actor_1(str(x)))
df_2019_new['actor_2_name'] = df_2019_new['Cast and crew'].map(lambda x: get_actor_2(str(x)))
df_2019_new['actor_3_name'] = df_2019_new['Cast and crew'].map(lambda x: get_actor_3(str(x)))

In [57]:
df_2020_new['director_name'] = df_2020_new['Cast and crew'].map(lambda x: get_director(str(x)))
df_2020_new['actor_1_name'] = df_2020_new['Cast and crew'].map(lambda x: get_actor_1(str(x)))
df_2020_new['actor_2_name'] = df_2020_new['Cast and crew'].map(lambda x: get_actor_2(str(x)))
df_2020_new['actor_3_name'] = df_2020_new['Cast and crew'].map(lambda x: get_actor_3(str(x)))

In [60]:
df_2021_new['director_name'] = df_2021_new['Cast and crew'].map(lambda x: get_director(str(x)))
df_2021_new['actor_1_name'] = df_2021_new['Cast and crew'].map(lambda x: get_actor_1(str(x)))
df_2021_new['actor_2_name'] = df_2021_new['Cast and crew'].map(lambda x: get_actor_2(str(x)))
df_2021_new['actor_3_name'] = df_2021_new['Cast and crew'].map(lambda x: get_actor_3(str(x)))

In [64]:
df_final = df_2018_new.append(df_2019_new.append(df_2020_new.append(df_2021_new,ignore_index=True),ignore_index=True),ignore_index=True)

In [65]:
df_final

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Drama History Western,Warwick Thornton,Bryan Brown,Sam Neill,NaN
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson
...,...,...,...,...,...,...,...
923,Mary J. Blige's My Life,Vanessa Roth (director/screenplay); Mary J. Bl...,Documentary Music,Vanessa Roth,Mary J. Blige,Taraji P. Henson,Alicia Keys
924,Fathom,Drew Xanthopoulos (director/screenplay); Miche...,Documentary,Drew Xanthopoulos,Michelle Fournet,Ellen Garland,NaN
925,A Cinderella Story: Starstruck,Michelle Johnston (director/screenplay); Baile...,Comedy Romance,Michelle Johnston,Bailee Madison,Michael Evans Behling,April Telek
926,America: The Motion Picture,Matt Thompson (director); Dave Callaham (scree...,Animation Action Comedy History Fantasy,Matt Thompson,Channing Tatum,Jason Mantzoukas,Olivia Munn
927,Zola,Janicza Bravo (director/screenplay); Jeremy O....,Drama Comedy Crime,Janicza Bravo,Taylour Paige,Riley Keough,Nicholas Braun

In [66]:
df_final = df_final.rename(columns={'Title':'movie_title'})

In [67]:
data = df_final.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [68]:
data

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,Insidious: The Last Key
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,The Strange Ones
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,Stratton
3,Warwick Thornton,Bryan Brown,Sam Neill,NaN,Drama History Western,Sweet Country
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller,The Commuter
...,...,...,...,...,...,...
923,Vanessa Roth,Mary J. Blige,Taraji P. Henson,Alicia Keys,Documentary Music,Mary J. Blige's My Life
924,Drew Xanthopoulos,Michelle Fournet,Ellen Garland,NaN,Documentary,Fathom
925,Michelle Johnston,Bailee Madison,Michael Evans Behling,April Telek,Comedy Romance,A Cinderella Story: Starstruck
926,Matt Thompson,Channing Tatum,Jason Mantzoukas,Olivia Munn,Animation Action Comedy History Fantasy,America: The Motion Picture
927,Janicza Bravo,Taylour Paige,Riley Keough,Nicholas Braun,Drama Comedy Crime,Zola

In [69]:
data.to_csv('data_3.csv', index=False)